*.xml
*.txt
*.jpg
*.md
*.pyc
*.log
*.npy
*.npz
*.db
*.out
log
t*.py
__pycache__
*.zip
*.trn
*.json
*.to
*.from
*.p
data/*
!requirements.txt
!reddit_data_xy_raw.p
!reddit_raw_for_encode.txt
!data/words.bpe
!data/words2.bpe
!data/words3.bpe